<html>
<head>
    <title>{{title}}</title>
    <script>
 function sendJSON(formName) {
	var myForm  = document.getElementById(formName);
	var data = {};
	    for(var formElement of myForm.childNodes.values()){
		if(formElement.name!= "undefined" && formElement.name!= "")
		{
			var key = formElement.name
			var value = formElement.value

			data[key] = value
		}
	}

	var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", myForm.action);
    xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlhttp.send(JSON.stringify(data));
    
    }
    </script>

</head>
<body>
